*{padding:0; margin: 0;}

.ele-notice-content-style p,.ele-notice-content-style li {
    line-height: 22px
}

.ele-notice-content-style address,.ele-notice-content-style blockquote,.ele-notice-content-style dd,.ele-notice-content-style dl,.ele-notice-content-style dt,.ele-notice-content-style fieldset,.ele-notice-content-style form,.ele-notice-content-style h1,.ele-notice-content-style h2,.ele-notice-content-style h3,.ele-notice-content-style h4,.ele-notice-content-style h5,.ele-notice-content-style h6,.ele-notice-content-style noframes,.ele-notice-content-style ol,.ele-notice-content-style p,.ele-notice-content-style ul,.ele-notice-content-style center,.ele-notice-content-style dir,.ele-notice-content-style hr,.ele-notice-content-style menu,.ele-notice-content-style pre {
    display: block
}

.ele-notice-content-style li {
    display: list-item
}

.ele-notice-content-style table {
    display: table
}

.ele-notice-content-style tr {
    display: table-row
}

.ele-notice-content-style thead {
    display: table-header-group
}

.ele-notice-content-style tbody {
    display: table-row-group
}

.ele-notice-content-style tfoot {
    display: table-footer-group
}

.ele-notice-content-style col {
    display: table-column
}

.ele-notice-content-style colgroup {
    display: table-column-group
}

.ele-notice-content-style td,.ele-notice-content-style th {
    display: table-cell
}

.ele-notice-content-style caption {
    display: table-caption
}

.ele-notice-content-style th {
    font-weight: bolder;
    text-align: center
}

.ele-notice-content-style caption {
    text-align: center
}

.ele-notice-content-style h1 {
    font-size: 2em;
    margin: .67em 0
}

.ele-notice-content-style h2 {
    font-size: 1.5em;
    margin: .75em 0
}

.ele-notice-content-style h3 {
    font-size: 1.17em;
    margin: .83em 0
}

.ele-notice-content-style h4,.ele-notice-content-style p,.ele-notice-content-style blockquote,.ele-notice-content-style ul,.ele-notice-content-style fieldset,.ele-notice-content-style form,.ele-notice-content-style ol,.ele-notice-content-style dl,.ele-notice-content-style dir,.ele-notice-content-style menu {
    margin: 0.8em 0
}

.ele-notice-content-style table h4,.ele-notice-content-style table p,.ele-notice-content-style table blockquote,.ele-notice-content-style table ul,.ele-notice-content-style table fieldset,.ele-notice-content-style table form,.ele-notice-content-style table ol,.ele-notice-content-style table dl,.ele-notice-content-style table dir,.ele-notice-content-style table menu {
    margin: 0
}

.ele-notice-content-style h5 {
    font-size: .83em;
    margin: 1.5em 0
}

.ele-notice-content-style h6 {
    font-size: .75em;
    margin: 1.67em 0
}

.ele-notice-content-style h1,.ele-notice-content-style h2,.ele-notice-content-style h3,.ele-notice-content-style h4,.ele-notice-content-style h5,.ele-notice-content-style h6,.ele-notice-content-style b,.ele-notice-content-style strong {
    font-weight: bolder
}

.ele-notice-content-style blockquote {
    margin-left: 40px;
    margin-right: 40px
}

.ele-notice-content-style i,.ele-notice-content-style cite,.ele-notice-content-style em,.ele-notice-content-style var,.ele-notice-content-style address {
    font-style: italic
}

.ele-notice-content-style pre,.ele-notice-content-style tt,.ele-notice-content-style code,.ele-notice-content-style kbd,.ele-notice-content-style samp {
    font-family: monospace
}

.ele-notice-content-style pre {
    white-space: pre
}

.ele-notice-content-style button,.ele-notice-content-style textarea,.ele-notice-content-style input,.ele-notice-content-style object,.ele-notice-content-style select {
    display: inline-block
}

.ele-notice-content-style big {
    font-size: 1.17em
}

.ele-notice-content-style small,.ele-notice-content-style ub,.ele-notice-content-style sup {
    font-size: .83em
}

.ele-notice-content-style sub {
    vertical-align: sub
}

.ele-notice-content-style sup {
    vertical-align: super
}

.ele-notice-content-style table {
    border-spacing: 2px
}

.ele-notice-content-style thead,.ele-notice-content-style tbody,.ele-notice-content-style tfoot {
    vertical-align: middle
}

.ele-notice-content-style td,.ele-notice-content-style th {
    vertical-align: inherit
}

.ele-notice-content-style s,.ele-notice-content-style strike,.ele-notice-content-style del {
    text-decoration: line-through
}

.ele-notice-content-style hr {
    border: 1px inset
}

.ele-notice-content-style ol,.ele-notice-content-style ul,.ele-notice-content-style dir,.ele-notice-content-style menu,.ele-notice-content-style dd {
    margin-left: 40px
}

.ele-notice-content-style ul {
    list-style-type: disc;
    padding-left: 12px
}

.ele-notice-content-style ol {
    list-style-type: decimal;
    padding-left: 15px
}

.ele-notice-content-style ol .ele-notice-content-style ul,.ele-notice-content-style ul ol,.ele-notice-content-style ul ul,.ele-notice-content-style ol ol {
    margin-top: 0;
    margin-bottom: 0
}

.ele-notice-content-style u,.ele-notice-content-style ins {
    text-decoration: underline
}

.ele-notice-content-style br:before {
    content: "\A"
}

.ele-notice-content-style :before,.ele-notice-content-style :after {
    white-space: pre-line
}

.ele-notice-content-style center {
    text-align: center
}

.ele-notice-content-style abbr,.ele-notice-content-style acronym {
    font-variant: small-caps;
    letter-spacing: .1em
}

.ele-notice-content-style :link,.ele-notice-content-style :visited {
    text-decoration: underline
}

.ele-notice-content-style BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override
}

.ele-notice-content-style BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override
}

.ele-notice-content-style [DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed
}

.ele-notice-content-style [DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed
}

.ele-notice-content-style .marker {
    background-color: #ff0
}

.ele-notice-mask-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-image: url('./images/bg_gray.png');
}

#js-notice-pop {
    position: absolute;
    width: 1000px;
    color: #222;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 0 0 25px rgba(0,0,0,.3);
    border-radius: 5px;
}

#js-notice-pop object {
    display: block;
}

#js-notice-pop .ele-notice-title {
    position: relative;
    color: #5e5e75;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    padding: 0 50px 0 15px;
    font-weight: normal;
    background-color: #FFF;
    border-top: solid 3px #5e5e75;
    margin: 0;
}

#js-notice-pop .ele-notice-title i {
    position: absolute;
    top: 50%;
    right: 25px;
    color: #5e5e75;
    cursor: pointer;
    font-size: 22px;
    font-style: normal;
    margin-top: -11px;
}

#ele-notice-inner {
    height: 575px;
    border-top: solid 1px #EEE;
}

#ele-notice-sidemenu {
    position: relative;
    float: left;
    width: 304px;
    height: 100%;
    font-size: 15px;
    overflow: auto;
    background-color: #f1f1f7;
}

/* 覆蓋舊版廳主自改預設樣式 */
#js-notice-pop #ele-notice-sidemenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ele-notice-sidemenu li:after {
    display: block;
    height: 1px;
    content: "";
    background-color: #DFDFDF;
    border-top: solid 1px #FFF;
}

#ele-notice-sidemenu .ele-notice-menu {
    position: relative;
    height: 48px;
    line-height: 48px;
    color: #666;
    cursor: pointer;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px 0 40px;
}

#ele-notice-sidemenu .ele-notice-menu-active,#ele-notice-sidemenu .ele-notice-menu:hover {
    color: #FFF;
    background-color: #5e5e75;
}

#ele-notice-sidemenu .ele-notice-menu:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 48px;
    content: "";
    background-color: #5e5e75;
}

#ele-notice-sidemenu .ele-notice-menu-active:before,#ele-notice-sidemenu .ele-notice-menu:hover:before {
    display: none;
}

.ele-notice-icon {
    position: absolute;
    top: 17px;
    left: 13px;
    width: 16px;
    height: 16px;
    content: "";
    background: url('./images/list_icon.png') 0 0 no-repeat;
}

#ele-notice-sidemenu .ele-notice-menu-active .ele-notice-icon,#ele-notice-sidemenu .ele-notice-menu:hover .ele-notice-icon {
    background-position: 0 100%;
}

.ele-notice-content-wrap {
    position: relative;
    float: right;
    margin-right: 6px;
    width: 690px;
    height: 575px;
}

.ele-notice-content-wrap:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #DFDFDF;
    border-left: solid 1px #FFF;
}

.ele-notice-content {
    position: absolute;
    top: 0;
    left: 15px;
    width: 700px;
    height: 560px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    overflow: auto;
    padding-top: 15px;
}

.ele-notice-content-current {
    z-index: 2;
    display: block;
    opacity: 1;
}

.ele-notice-mobile-content {
    display: none;
}

#js-notice-subtitle {
    color: #5e5e75;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

#ele-notice-bottom {
    height: 40px;
    border-top: solid 1px #EEE;
    padding: 18px 19px 0 0;
}

.ele-notice-checkbox {
    float: right;
    color: #828282;
}

.ele-notice-checkbox input {
    vertical-align: middle;
    margin-right: 5px;
}

@media screen and (max-width: 1108px) {
    #js-notice-pop {
        width: 100%;
    }

    #ele-notice-inner {
        height: auto;
    }

    #ele-notice-sidemenu {
        width: 100%;
    }

    #ele-notice-sidemenu .ele-notice-menu {
        height: 50px;
        line-height: 50px;
    }

    #ele-notice-content-wrap {
        display: none;
        width: 100%;
    }

    .ele-notice-mobile-content {
        overflow: auto;
        padding: 24px 15px;
    }

    .ele-notice-content-current {
        display: block;
    }

    #ele-notice-bottom {
        height: 36px;
        border-top: solid 1px #EEE;
        padding-top: 17px;
    }
}
