body {
    min-height: initial !important;
}

ul,
li,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a img {
    bordeR: none;
    vertical-align: middle;
}

.content_box .info {
    display: none;
}

.content_box .on {
    display: block;
}

.information {
    height: 50px;
}

.information a {
    float: right;
    color: #fff;
    background: #5e5e5e;
    padding: 0 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.information .memberinfo {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    color: #fff;
    margin-right: 14px;
    letter-spacing: 2px;
    display: none;
}

.information .memberinfo img {
    margin-right: 6px;
}

.information .memberinfo button {
    margin-left: 24px;
    color: #bebebe;
    background: transparent;
}

.information .memberinfo .account {
    margin-left: 10px;
}

.content_list {
    width: 100%;
    clear: both;
    position: relative;
    height: 50px;
}

.content_list li {
    float: left;
    width: calc(100% / 6);
    background: #1a1819;
    height: 50px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.content_list li::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 160px 0 0;
    border-color: #4d484a transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.content_list li:hover,
.content_list li.on {
    background-color: #0780d1;
}

.content_list li:hover::after,
.content_list li.on::after {
    border-color: #0780d1 transparent transparent transparent;
}

.content_list li a {
    color: #fff;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
}

.contentAll {
    height: 610px;
    background: #fff;
    position: relative;
    margin-bottom: 50px;
    width: 1000px;
    overflow: hidden;
}

.test_msg_bg {
    height: 1000px !important;
}

.contentPush {
    width: 100%;
    height: 40px;
}

.contentPush li button.copy {
    background: #b64848;
    width: 54px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    padding: 2px 13px;
    margin-left: 5px;
    font-size: 14px;
}

.contentPush li {
    float: left;
    width: calc(100% / 6);
    text-align: center;
    height: 40px;
    line-height: 37px;
    letter-spacing: 2px;
    border: 1px solid #cccccc;
    border-right: 1px dashed #ccc;
    border-left: 0px dashed #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    color: #767676;
}

.contentPush li:nth-child(1),
.contentPush li:nth-child(4) {
    width: calc(100% / 6 * 2);
}

.contentPush li:nth-child(1) {
    border-left: 1px solid #ccc;
}

.contentPush li:nth-child(4) {
    border-right: 1px solid #ccc;
}

.contentPush .level,
.contentPush .nextmoney {
    color: #b64848;
    margin: 0 5px;
}

.datasheets {
    width: 100%;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    font-size: 14px;
    letter-spacing: 2px;
}

.datasheets ul {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    color: #5c5454;
}

.datasheets ul li {
    width: 40px;
    height: 20px;
    border: 1px solid #a8a4a4;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin: 0 6px;
    cursor: pointer;
}

.datasheets ul li:hover {
    color: #fff;
    background: #5c5454;
    border: 1px solid #5c5454;
}

.datasheets .dateRange {
    margin-left: 30px;
    margin-top: 20px;
    color: #5c5454;
}

.datasheets .dateRange span {
    margin: 0 5px;
    padding-right: 30px;
}

.datasheets table {
    width: 100%;
    background: #f9f9f9;
}

.datasheets table th,
.datasheets table td {
    width: calc(100% / 4);
    border: 1px solid #ccc;
    height: 50px;
    text-align: center;
    color: #433e3e;
}

.info {
    height: 560px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    padding: 15px 17px 0;
}

.info2 h3 {
    font-size: 24px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    margin: 30px 0 50px;
}

.info2 .poster li {
    float: left;
    width: calc(100% / 6);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.info2 .poster li a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.info2 .poster li a:hover::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: url(../images/download-solid.svg);
    background-size: cover;
    color: #126bd9;
    width: 50px;
    height: 50px;
}

.info3 {
    padding: 16px 16px 0;
}

.info3 .terminology {
    position: relative;
    width: 100%;
    padding: 24px 0;
    line-height: 26px;
    color: #767676;
    letter-spacing: 1.5px;
    font-size: 14px;
    border-bottom: 2px solid #e1e1e1;
}

.info3 .terminology p {
    margin-bottom: 24px;
}

.info3 .terminology .copy {
    background: #b64848;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 2px 20px;
    font-weight: 100;
    border-radius: 3px;
    position: relative;
    left: 50%;
    margin-left: -63px;
    cursor: pointer;
}

.posterbanner {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.posterbanner li {
    margin: 30px 0;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.info4 p {
    text-align: center;
}

.info .red {
    color: #f00;
}

.posterbanner li a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.posterbanner li a:hover::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: url(../images/download-solid.svg);
    background-size: cover;
    color: #126bd9;
    width: 50px;
    height: 50px;
}

.info5 {
    text-align: center;
    padding: 15px 17px 0;
}

.info5 .info5Content {
    width: 100%;
    height: 100%;
    position: relative;
}

.info5 .info5More {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.info5 ul {
    margin-top: 20px;
}

.info5 ul li {
    background: #f7f7f7;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

.info5 ul li img {
    margin-right: 24px;
}

.info5 ul li .marketContent {
    width: calc(100% - 300px);
    text-align: left;
}

.info5 ul li .marketContent h3 {
    color: #00a2e2;
    font-size: 17px;
    margin-bottom: 10px;
}

.info5 ul li .marketContent p {
    font-size: 16px;
}

.info5 ul li .marketContent .time {
    float: left;
    font-size: 12px;
    color: #00ca3e;
}

.info5 ul li .marketContent .more {
    float: right;
    font-size: 12px;
    color: #146bb5;
    padding-right: 50px;
    position: relative;
    cursor: pointer;
}

.info5 ul li .marketContent .more::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #146ab5 transparent transparent transparent;
    position: absolute;
    top: 6px;
    right: 36px;
}

.info5More {
    display: none;
}

.info5More .marketContents {
    padding: 15px 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.info5More .marketContents p {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: left;
    text-indent: 2em;
    margin-top: 10px;
}

.info5More .marketContents .goBack {
    position: absolute;
    left: 17px;
    top: 15px;
    font-size: 12px;
    margin-top: 0;
    line-height: initial;
    text-indent: 0em;
}

.info5More .marketContents .goBack .Back {
    color: #aae1ff;
    cursor: pointer;
}

.info5More .marketContents h1.title {
    font-size: 17px;
    color: #00a2e2;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 1px solid #cccccc;
    border-left: 0;
    border-right: 0;
    margin-bottom: 10px;
}

.info5More .marketContents span.time {
    color: #00ca3e;
    font-size: 12px;
    margin-bottom: 10px;
}

.info6 #msgBox {
    width: 100%;
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
}

.littletitle {
    margin-bottom: 10px;
}

span.emotion {
    float: initial;
    display: block;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    height: 28px;
    line-height: 28px;
}

span.emotion img {
    height: 20px;
}

#msgBox form {
    padding: 0;
}

form .textBox {
    width: 100%;
}

.textBox {
    width: 100%;
}

.textBox #conBox {
    border-radius: 0;
}

.textBox .tr {
    color: #959595;
}

.textBox #sendBtn {
    width: 74px;
    height: 24px;
    background-color: #6acdea;
    font-size: 16px;
    border: 1px solid #72c1d8;
    border-radius: 2px;
    margin: 5px 10px 0 0;
    float: initial;
    color: #fff;
}

#msgBox .list {
    height: initial;
}

#msgBox .list ul li {
    border-top: 1px solid #ccc;
}

#msgBox .list .userName a {
    color: #2595b7;
}

#msgBox .list .msgInfo {
    color: #444;
    min-height: 50px;
    margin-top: 10px;
}

.page ._page {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#msgBox .list .times a,
#msgBox .list .times .likenum {
    display: none;
}

.contents {
    width: 100%;
    position: relative;
    height: 120px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.contents::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #cccccc transparent;
    position: absolute;
    bottom: -1px;
    left: 85px;
}

.contents::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: -2px;
    left: 85px;
}

.answers {
    width: 100%;
    position: relative;
    padding-left: 70px;
}

.managerPic {
    float: left;
}

.answer {
    height: 50px;
    display: block;
    clear: both;
}

#msgBox .list .answer .msgInfo {
    margin: 0;
    float: left;
    padding-left: 50px;
    min-height: 20px;
}

#msgBox .list .answer .managerName {
    float: left;
}

#msgBox .list .answer .times {
    float: initial;
    clear: both;
}