/* line 3, ../sass/page-short.sass */

body {
    background: url(../img/pagebg.jpg) 0 200px no-repeat, #0e0e0e;
    font-family: "Microsoft YaHei", "Meiryo", "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    font-size: 12px;
}


/* line 8, ../sass/page-short.sass */

* {
    margin: 0;
    padding: 0;
}


/* line 11, ../sass/page-short.sass */

a {
    text-decoration: none;
    color: unset;
    color: white\0;
}


/* line 16, ../sass/page-short.sass */

.middlebox {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


/* line 21, ../sass/page-short.sass */

.navbar {
    background: url(../img/nbg.jpg) repeat;
    height: 40px;
}


/* line 24, ../sass/page-short.sass */

.navbar a {
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    color: white;
    padding: 0 15px;
}


/* line 30, ../sass/page-short.sass */

.navbar a:first-child {
    padding-left: 0;
    color: #e8a93a;
}


/* line 33, ../sass/page-short.sass */

.navbar a:last-child {
    padding-right: 0;
    color: #e8a93a;
}


/* line 39, ../sass/page-short.sass */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* line 43, ../sass/page-short.sass */

.menu .item {
    background: url(../img/itembg.png) top right no-repeat;
    width: 250px;
    height: 54px;
}


/* line 48, ../sass/page-short.sass */

.menu .item a {
    width: 80px;
    height: 27px;
    display: inline-block;
    color: #cacaca;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
}


/* line 56, ../sass/page-short.sass */

.menu .item .red {
    color: red;
}


/* line 58, ../sass/page-short.sass */

.menu .item .blue {
    color: #3d94d3;
}


/* line 60, ../sass/page-short.sass */

.menu .item .white {
    color: white;
}


/* line 63, ../sass/page-short.sass */

.menu .item:first-child a {
    text-align: left;
}


/* line 67, ../sass/page-short.sass */

.menu .item:last-child {
    background: transparent;
}


/* line 71, ../sass/page-short.sass */

.licenseimg {
    position: absolute;
    z-index: 1000;
    left: -130px;
    display: none;
    border-radius: 30px;
}


/* line 78, ../sass/page-short.sass */

.login .middlebox {
    padding-top: 0px;
}


/* line 80, ../sass/page-short.sass */

.login {
    background: #171718;
    height: 105px;
}


/* line 84, ../sass/page-short.sass */

.login .logo {
    background: url(../img/logo.png) 50% no-repeat;
    width: 182px;
    height: 84px;
    display: inline-block;
    font-size: 0;
    vertical-align: bottom;
    margin-bottom: 20px;
}


/* line 93, ../sass/page-short.sass */

.login ul {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    margin-left: 30px;
}


/* line 98, ../sass/page-short.sass */

.login ul li {
    display: inline-block;
    color: white;
    font-size: 12px;
    vertical-align: bottom;
    text-align: center;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    padding-bottom: 15px;
}


/* line 109, ../sass/page-short.sass */

.login ul li span {
    font-size: 12px;
    border-bottom: 1px solid transparent;
    display: block;
}


/* line 114, ../sass/page-short.sass */

.login ul li .icon:after {
    content: url(../img/icon.png);
    position: absolute;
    right: -18px;
    top: -12px;
}


/* line 119, ../sass/page-short.sass */

.login ul li:hover {
    color: yellow;
}


/* line 121, ../sass/page-short.sass */

.login ul li:hover span {
    border-bottom: 1px solid yellow;
}


/* line 123, ../sass/page-short.sass */

.login ul li:hover .one {
    display: block;
}


/* line 125, ../sass/page-short.sass */

.login ul li:hover .two {
    display: block;
}


/* line 127, ../sass/page-short.sass */

.login ul li ul.one {
    display: none;
    background: url(../img/submenubg.png) 50% no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 110px;
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 100%;
    padding: 2px;
    margin-top: 0px;
    margin-left: -55px;
}


/* line 139, ../sass/page-short.sass */

.login ul li ul.one:after {
    content: "";
    top: -4px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent #8b3d03;
    position: absolute;
    left: 50px;
}


/* line 148, ../sass/page-short.sass */

.login ul li ul.one li {
    background: black;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 5px 0;
    border-bottom: 1px solid #6f6f6f;
    cursor: pointer;
}

.login ul li ul.one li:after {
    content: url(../img/icon2.png);
    position: absolute;
    right: 3px;
}

.login ul li ul.one li:nth-child(5):after,
.login ul li ul.one li:nth-child(6):after {
    content: "";
}


/* line 158, ../sass/style.sass */

.login ul li ul.one li:hover {
    color: #ccc;
    border-bottom: 1px solid #6f6f6f;
}


/* line 162, ../sass/page-short.sass */

.login ul li ul.one .end {
    border-bottom: 0;
}


/* line 164, ../sass/page-short.sass */

.login ul li ul.one .icon2:after {
    content: url(../img/icon2.png);
    margin-left: 5px;
}


/* line 169, ../sass/page-short.sass */

.login ul li .two {
    display: none;
    background: url(../img/submenubg.png) 50% no-repeat;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 220px;
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 100%;
    padding: 2px;
    margin-top: 0px;
    margin-left: -110px;
}


/* line 181, ../sass/page-short.sass */

.login ul li .two ul {
    width: 100%;
    display: inline-block;
    background: black;
    margin: 0;
    padding: 0;
}


/* line 187, ../sass/page-short.sass */

.login ul li .two ul:after {
    content: "";
    top: -4px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent #8b3d03;
    position: absolute;
    left: 105px;
}


/* line 196, ../sass/page-short.sass */

.login ul li .two ul li {
    margin: 0;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 5px 0;
    border-bottom: 1px solid #6f6f6f;
    cursor: pointer;
    margin-left: 0px;
}

.login ul li .two ul li::after {
    content: url(../img/icon2.png);
    position: absolute;
    right: 3px;
}


/* line 206, ../sass/style.sass */

.login ul li .two ul li:hover {
    color: #ccc;
    border-bottom: 1px solid #6f6f6f;
}


/* line 210, ../sass/page-short.sass */

.login ul li .two ul .end {
    border-bottom: 1px solid transparent;
}


/* line 212, ../sass/page-short.sass */

.login ul li .two ul .end:hover {
    border-bottom: 1px solid transparent;
}


/* line 219, ../sass/page-short.sass */

.login .icon:after {
    content: url(../img/icon.png);
    position: absolute;
    right: -15px;
    top: -20px;
}

.loginbox._login {
    display: block;
}

.loginbox._logined {
    display: none;
    top: 10px;
    left: 214px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loginbox._logined span {
    width: 88px;
    color: #fff;
    text-align: center;
    float: left;
}

._logined .balance .add {
    width: 12px;
    height: 12px;
    background-image: url(../img/add.png);
    background-size: 100% 100%;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}

.loginbox._logined .account {
    padding-right: 38px;
    position: relative;
    width: 66px;
}

.loginbox._logined button {
    height: 22px;
    border-color: transparent;
    background-color: #f4da66;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 10px;
    color: #292929;
    font-size: 12px;
    padding: 0px 5px;
    font-weight: 700;
}

.loginbox._logined button::after {
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    right: -6px;
    top: 3px;
    background-color: #fff;
}

.loginbox._logined .quitBtn {
    width: 53px;
    background-color: transparent;
    background-image: url(../img/quitBtn.png);
    color: #020318;
}

.loginbox._logined .quitBtn::after {
    width: 0px;
}


/* line 225, ../sass/style.sass */

.loginbox {
    position: absolute;
    top: 6px;
    left: 222px;
}

.loginbox .mail {
    position: absolute;
    right: 8px;
    cursor: pointer;
}

.loginbox .mail span {
    width: 14px;
    height: 14px;
    background-color: #d00000;
    border-radius: 50%;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: -6px;
    right: -6px;
}


/* line 229, ../sass/style.sass */

.loginbox label {
    color: #efefef;
    font-size: 12px;
}

.loginbox._logined label {
    float: left;
}


/* line 232, ../sass/style.sass */

.loginbox .f0 {
    color: #f0f0f0;
}


/* line 234, ../sass/style.sass */

.loginbox input {
    background: #19181a;
    border: 1px solid rgba(140, 145, 155, 0.5);
    border-radius: 5px;
    width: 105px;
    height: 16px;
    color: white;
    padding: 3px;
}


/* line 242, ../sass/style.sass */

.loginbox input:last-child {
    width: 50px;
}


/* line 244, ../sass/style.sass */

.loginbox .mail img {
    width: 23px;
    height: 16px;
    float: left;
}

.loginbox img {
    margin-bottom: -6px;
}


/* line 246, ../sass/style.sass */

.loginbox .loginBtn {
    background: url(../img/loginbtn.jpg) 50% no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 5px;
    border: 0;
    font-size: 13px;
    width: 52px;
    height: 25px;
    padding: 5px;
    color: #111;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}


/* line 256, ../sass/style.sass */

.loginbox .registerBtn {
    background: #ce8525;
    border-radius: 5px;
    border: 0;
    font-size: 13px;
    width: 52px;
    height: 25px;
    padding: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}


/* line 266, ../sass/style.sass */

.loginbox .pwsf {
    color: #c8c8c8;
    position: relative;
    z-index: 1000;
    margin-right: 6px;
    margin-left: -36px;
}


/* line 272, ../sass/style.sass */

.loginbox .pwin {
    width: 68px;
    padding-right: 40px;
}


/* line 277, ../sass/page-short.sass */

.floatLogin {
    background: url(../img/rgbg.png) 50% no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 225px;
    height: 240px;
    position: absolute;
    right: 0;
    bottom: -260px;
}


/* line 285, ../sass/page-short.sass */

.floatLogin .title {
    background: url(../img/buttonbtn.png);
    width: 215px;
    height: 38px;
    margin: 15px auto;
}


/* line 290, ../sass/page-short.sass */

.floatLogin .title a:first-child {
    color: white;
    font-size: 16px;
    line-height: 38px;
    margin-left: 30px;
}


/* line 295, ../sass/page-short.sass */

.floatLogin .title a:first-child:hover {
    opacity: 0.6;
}


/* line 297, ../sass/page-short.sass */

.floatLogin .title a:last-child {
    color: #ffffae;
    font-size: 16px;
    margin-left: 30px;
}


/* line 301, ../sass/page-short.sass */

.floatLogin .title a:last-child:hover {
    opacity: 0.6;
}


/* line 304, ../sass/page-short.sass */

.floatLogin .content .idIpnut {
    background: url(../img/icon01.png) 15px no-repeat;
    border: 0;
    padding-left: 16px;
    line-height: 40px;
    padding-left: 40px;
    width: 180px;
    color: white;
    outline: none;
}


/* line 313, ../sass/page-short.sass */

.floatLogin .content .idIpnut::-webkit-input-placeholder {
    color: #ffffae;
}


/* line 315, ../sass/page-short.sass */

.floatLogin .content .pwsInput {
    background: url(../img/icon02.png) 15px no-repeat;
    border: 0;
    padding-left: 16px;
    line-height: 40px;
    padding-left: 40px;
    width: 120px;
    color: white;
    outline: none;
}


/* line 324, ../sass/page-short.sass */

.floatLogin .content .pwsInput::-webkit-input-placeholder {
    color: #ffffae;
}


/* line 326, ../sass/page-short.sass */

.floatLogin .content .forgetPws {
    color: #ffffae;
    display: inline-block;
    outline: none;
    font-size: 12px;
}


/* line 331, ../sass/page-short.sass */

.floatLogin .content .verInput {
    background: url(../img/icon02.png) 15px no-repeat;
    border: 0;
    padding-left: 16px;
    line-height: 40px;
    padding-left: 40px;
    width: 120px;
    color: white;
    outline: none;
}


/* line 340, ../sass/page-short.sass */

.floatLogin .content .verInput::-webkit-input-placeholder {
    color: #ffffae;
}


/* line 342, ../sass/page-short.sass */

.floatLogin .content .verification {
    background: #1279e2;
    color: white;
    display: inline-block;
    outline: none;
    font-size: 12px;
    padding: 3px;
}


/* line 349, ../sass/page-short.sass */

.floatLogin .submitBtn {
    background: url(../img/tablion.png);
    color: #111;
    padding: 5px 15px;
    text-align: center;
    width: 175px;
    margin: 10px auto auto auto;
    display: block;
}


/* line 357, ../sass/page-short.sass */

.floatLogin .submitBtn:hover {
    filter: contrast(2);
}


/* line 360, ../sass/page-short.sass */

.marquee {
    background: rgba(27, 41, 40, 0.6);
    height: 34px;
}


/* line 363, ../sass/page-short.sass */

.marquee marquee {
    width: 755px;
    float: left;
    margin-left: 80px;
    margin-right: 10px;
    color: white;
    font-size: 12px;
    line-height: 34px;
}


/* line 371, ../sass/page-short.sass */

.marquee marquee:before {
    content: url("../img/m.png");
    width: 74px;
    height: 17px;
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
}


/* line 379, ../sass/page-short.sass */

.mName {
    float: left;
    font-size: 12px;
    color: #e8a93a;
    line-height: 34px;
}


/* line 386, ../sass/page-short.sass */

.submenu {
    position: fixed;
    background: url(../img/sbg.png) top center no-repeat;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    animation: cv 1s infinite;
    -webkit-animation: cv 1s infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    height: 105px;
}


/* line 398, ../sass/page-short.sass */

.submenu .middlebox {
    padding-top: 0;
}


/* line 400, ../sass/page-short.sass */

.submenu .floatLogin {
    display: none;
}


/* line 402, ../sass/page-short.sass */

.submenu .logo {
    padding-bottom: 25px;
}


/* line 404, ../sass/page-short.sass */

.submenu ul {
    z-index: 1000;
}


/* line 407, ../sass/page-short.sass */

.unsubmenu {
    position: fixed;
    background: url(../img/sbg.png) top center no-repeat;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 99;
    height: 105px;
    animation: uncv 1s infinite;
    -webkit-animation: uncv 1s infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}


/* line 419, ../sass/page-short.sass */

.unsubmenu .middlebox {
    padding-top: 0;
}


/* line 421, ../sass/page-short.sass */

.unsubmenu .floatLogin {
    display: none;
}


/* line 423, ../sass/page-short.sass */

.unsubmenu .logo {
    padding-bottom: 25px;
}


/* line 425, ../sass/page-short.sass */

.unsubmenu ul {
    z-index: 1000;
}

@keyframes cv {
    0% {
        top: -200px;
    }
    100% {
        top: 0;
    }
}

@keyframes uncv {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -200px;
        opacity: 0;
    }
}


/* line 441, ../sass/page-short.sass */

.footer {
    background: #0e0e0e;
}


/* line 443, ../sass/page-short.sass */

.footer .flink {
    color: #a9aaad;
    text-align: center;
    line-height: 30px;
    margin-top: 8px;
}


/* line 448, ../sass/page-short.sass */

.footer .flink a {
    margin: 0 22px;
    font-size: 14px;
    color: #a9aaad;
    transition: all 0.4s;
}


/* line 453, ../sass/page-short.sass */

.footer .ctext {
    text-align: center;
    color: #a9aaad;
    font-family: Arial;
    line-height: 30px;
}


/* line 460, ../sass/page-short.sass */

.floatLogin {
    display: none;
}


/* line 467, ../sass/page-short.sass */

.page {
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}


/* line 475, ../sass/page-short.sass */

.page .leftMenu {
    width: 246px;
    padding-top: 40px;
    border-right: 1px solid #2c2c2c;
    display: inline-block;
    box-sizing: border-box;
}


/* line 481, ../sass/page-short.sass */

.page .leftMenu .pic {
    width: 190px;
    height: 258px;
    margin: 0 auto;
    padding: 55px 0;
}


/* line 486, ../sass/page-short.sass */

.page .leftMenu a {
    height: 49px;
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 49px;
    position: relative;
}


/* line 495, ../sass/page-short.sass */

.page .leftMenu a:hover {
    color: #f8d212;
    background: url(../img/lmenubg_r.jpg) 50% no-repeat;
}


/* line 498, ../sass/page-short.sass */

.page .leftMenu a:nth-child(1) {
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
}


/* line 501, ../sass/page-short.sass */

.page .leftMenu a:nth-child(1) span:before {
    content: url(../img/lm01.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 507, ../sass/page-short.sass */

.page .leftMenu a:nth-child(1) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 514, ../sass/page-short.sass */

.page .leftMenu a:nth-child(1):hover span:before {
    content: url(../img/lm01_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 520, ../sass/page-short.sass */

.page .leftMenu a:nth-child(1):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 526, ../sass/page-short.sass */

.page .leftMenu a:nth-child(2) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 528, ../sass/page-short.sass */

.page .leftMenu a:nth-child(2) span:before {
    content: url(../img/lm02.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 534, ../sass/page-short.sass */

.page .leftMenu a:nth-child(2) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 541, ../sass/page-short.sass */

.page .leftMenu a:nth-child(2):hover span:before {
    content: url(../img/lm02_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 547, ../sass/page-short.sass */

.page .leftMenu a:nth-child(2):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 553, ../sass/page-short.sass */

.page .leftMenu a:nth-child(3) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 555, ../sass/page-short.sass */

.page .leftMenu a:nth-child(3) span:before {
    content: url(../img/lm03.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 561, ../sass/page-short.sass */

.page .leftMenu a:nth-child(3) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 568, ../sass/page-short.sass */

.page .leftMenu a:nth-child(3):hover span:before {
    content: url(../img/lm03_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 574, ../sass/page-short.sass */

.page .leftMenu a:nth-child(3):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 581, ../sass/page-short.sass */

.page .leftMenu a:nth-child(4) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 583, ../sass/page-short.sass */

.page .leftMenu a:nth-child(4) span:before {
    content: url(../img/lm04.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 589, ../sass/page-short.sass */

.page .leftMenu a:nth-child(4) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 596, ../sass/page-short.sass */

.page .leftMenu a:nth-child(4):hover span:before {
    content: url(../img/lm04_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 602, ../sass/page-short.sass */

.page .leftMenu a:nth-child(4):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 608, ../sass/page-short.sass */

.page .leftMenu a:nth-child(5) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 610, ../sass/page-short.sass */

.page .leftMenu a:nth-child(5) span:before {
    content: url(../img/lm05.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 616, ../sass/page-short.sass */

.page .leftMenu a:nth-child(5) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 623, ../sass/page-short.sass */

.page .leftMenu a:nth-child(5):hover span:before {
    content: url(../img/lm05_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 629, ../sass/page-short.sass */

.page .leftMenu a:nth-child(5):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 635, ../sass/page-short.sass */

.page .leftMenu a:nth-child(6) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 637, ../sass/page-short.sass */

.page .leftMenu a:nth-child(6) span:before {
    content: url(../img/lm06.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 643, ../sass/page-short.sass */

.page .leftMenu a:nth-child(6) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 650, ../sass/page-short.sass */

.page .leftMenu a:nth-child(6):hover span:before {
    content: url(../img/lm06_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 656, ../sass/page-short.sass */

.page .leftMenu a:nth-child(6):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 662, ../sass/page-short.sass */

.page .leftMenu a:nth-child(7) {
    border-bottom: 1px solid #2c2c2c;
}


/* line 664, ../sass/page-short.sass */

.page .leftMenu a:nth-child(7) span:before {
    content: url(../img/lm07.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 670, ../sass/page-short.sass */

.page .leftMenu a:nth-child(7) span:after {
    content: url(../img/lfi.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 677, ../sass/page-short.sass */

.page .leftMenu a:nth-child(7):hover span:before {
    content: url(../img/lm07_r.png);
    top: 5px;
    bottom: 0;
    left: 44px;
    position: absolute;
}


/* line 683, ../sass/page-short.sass */

.page .leftMenu a:nth-child(7):hover span:after {
    content: url(../img/lfi_r.png);
    top: 2px;
    bottom: 0;
    right: 38px;
    position: absolute;
}


/* line 689, ../sass/page-short.sass */

.page .rightContent {
    display: inline-block;
    width: 748px;
    text-align: center;
    padding-top: 40px;
    vertical-align: top;
    position: relative;
}


/* line 697, ../sass/page-short.sass */

.page .rightContent .title:after {
    content: url(../img/hr.png);
    top: 90px;
    left: 0;
    right: 0;
    height: 5px;
    position: absolute;
}


/* line 704, ../sass/page-short.sass */

.page .rightContent p {
    width: 615px;
    margin: 45px auto 15px auto;
    color: white;
    text-align: left;
    line-height: 20px;
}


/* line 711, ../sass/page-short.sass */

.page .showpic {
    text-align: center;
    padding-top: 15px;
}

.page .showpic img {
    width: 100%;
}