/* line 1, ../sass/_index.sass */
body {
  font-family: "Meiryo", "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  font-size: 12px;
}

/* line 5, ../sass/_index.sass */
* {
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/_index.sass */
a {
  text-decoration: none;
  color: unset;
}
/* line 12, ../sass/_index.sass */
a:hover {
  opacity: 0.9;
}

/* line 14, ../sass/_index.sass */
.middlebox {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 19, ../sass/_index.sass */
.web {
  display: block;
}

/* line 21, ../sass/_index.sass */
.mobile {
  display: none;
}

/* line 24, ../sass/_index.sass */
.login {
  position: absolute;
  top: 34%;
  right: 0;
  animation: jump 0.8s infinite linear;
}
/* line 29, ../sass/_index.sass */
.login img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* line 49, ../sass/_index.sass */
.header {
  height: 600px;
  position: relative;
  background: url(../img/banner.png) 50% 0px no-repeat, #fff;
}

/* line 53, ../sass/_index.sass */
.listBar {
  width: 98%;
  height: 76px;
  background-color: #e11a1a;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
/* line 60, ../sass/_index.sass */
.listBar li {
  list-style-type: none;
  float: left;
  width: calc(100%/3);
  font-size: 24px;
  line-height: 76px;
  text-align: center;
  position: relative;
  color: #fff;
}
/* line 69, ../sass/_index.sass */
.listBar li:hover {
  color: #fcff00;
}
/* line 71, ../sass/_index.sass */
.listBar li::after {
  content: "";
  width: 2px;
  height: 30px;
  position: absolute;
  right: 0;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
}
/* line 80, ../sass/_index.sass */
.listBar a:nth-child(3) li::after {
  width: 0px;
  height: 0px;
}

/* line 84, ../sass/_index.sass */
.cardbox {
  margin: 0 10px;
  position: relative;
  height: 630px;
  background-color: #fff;
  padding: 30px 20px 70px;
}
/* line 91, ../sass/_index.sass */
.cardbox .card {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 52%;
  background-image: url("../img/cardBg.png");
  background-size: cover;
}
/* line 98, ../sass/_index.sass */
.cardbox .card #redux {
  padding: 0.2rem;
  box-sizing: border-box;
  width: 430px;
  height: 350px;
  position: absolute;
  z-index: 1030;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
/* line 108, ../sass/_index.sass */
.cardbox .card #mask_img_bg {
  position: absolute;
  background: #fff;
  width: 430px;
  height: 350px;
  text-align: center;
  line-height: 280px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  pointer-events: none;
}
/* line 121, ../sass/_index.sass */
.cardbox .card #mask_img_bg img {
  width: 90%;
  height: 90%;
  margin-top: 10px;
}
/* line 125, ../sass/_index.sass */
.cardbox p {
  font-size: 14px;
}
/* line 127, ../sass/_index.sass */
.cardbox p span {
  margin: 0 2px;
}
/* line 129, ../sass/_index.sass */
.cardbox p .people {
  color: #ff0000;
}

/* line 132, ../sass/_index.sass */
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9991;
}

/* line 141, ../sass/_index.sass */
.hint-show {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 600px;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
/* line 150, ../sass/_index.sass */
.hint-show .hint-img {
  width: 100%;
  height: 100%;
}
/* line 153, ../sass/_index.sass */
.hint-show .close {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 90px;
  right: 60px;
  z-index: 9999;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
}
/* line 166, ../sass/_index.sass */
.hint-show .close:hover {
  opacity: 1;
  color: #fff;
}
/* line 169, ../sass/_index.sass */
.hint-show .btn {
  display: inline-block;
  width: 180px;
  height: 40px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 200;
  margin-left: -90px;
  text-align: center;
  font-size: 20px;
  background-color: #c2001b;
  line-height: 40px;
  border-radius: 20px;
  color: #fff !important;
}
/* line 184, ../sass/_index.sass */
.hint-show .btn:hover {
  color: #fff;
}
/* line 186, ../sass/_index.sass */
.hint-show p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 195, ../sass/_index.sass */
.reward-show {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 100px 0;
  background-color: #fc3d57;
  border-radius: 20px;
}
/* line 206, ../sass/_index.sass */
.reward-show::after {
  content: "";
  background-image: url(../img/hanabi.png);
  width: 500px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-size: cover;
  height: 300px;
}
/* line 216, ../sass/_index.sass */
.reward-show h2 {
  text-align: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px;
  color: #fff;
}
/* line 224, ../sass/_index.sass */
.reward-show .close {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 3px;
  right: 5px;
  z-index: 9999;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
}
/* line 237, ../sass/_index.sass */
.reward-show .close:hover {
  opacity: 1;
  color: #fff;
}
/* line 240, ../sass/_index.sass */
.reward-show .reward {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 60px;
}
/* line 246, ../sass/_index.sass */
.reward-show .reward img {
  width: 300px;
  height: 150px;
  margin-bottom: 1px;
}
/* line 251, ../sass/_index.sass */
.reward-show .btn {
  display: inline-block;
  width: 180px;
  height: 40px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  background-color: #c2001b;
  line-height: 40px;
  border-radius: 20px;
  color: #fff !important;
  cursor: pointer;
}
/* line 267, ../sass/_index.sass */
.reward-show .btn:hover {
  color: #fff;
}
/* line 269, ../sass/_index.sass */
.reward-show p {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 277, ../sass/_index.sass */
.login-show {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
/* line 286, ../sass/_index.sass */
.login-show .hint-img {
  width: 100%;
  height: 100%;
}
/* line 289, ../sass/_index.sass */
.login-show input {
  position: absolute;
  left: 0;
  bottom: 120px;
  margin: 0 18px;
  width: 366px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}
/* line 302, ../sass/_index.sass */
.login-show .close {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
}
/* line 315, ../sass/_index.sass */
.login-show .close:hover {
  opacity: 1;
  color: #fff;
}
/* line 318, ../sass/_index.sass */
.login-show .btn {
  display: inline-block;
  width: 284px;
  height: 50px;
  position: absolute;
  bottom: 36px;
  left: 64px;
  border-radius: 20px;
  z-index: 200;
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  background-color: #ff0000;
  cursor: pointer;
}
/* line 334, ../sass/_index.sass */
.login-show .btn:hover {
  color: #fff;
}

/* line 336, ../sass/_index.sass */
.search-show {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
/* line 345, ../sass/_index.sass */
.search-show .hint-img {
  width: 100%;
  height: 100%;
}
/* line 348, ../sass/_index.sass */
.search-show input {
  position: absolute;
  left: 0;
  bottom: 120px;
  margin: 0 12px;
  width: 276px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}
/* line 361, ../sass/_index.sass */
.search-show .close {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  color: #fff;
}
/* line 374, ../sass/_index.sass */
.search-show .close:hover {
  opacity: 1;
  color: #fff;
}
/* line 377, ../sass/_index.sass */
.search-show .btn {
  display: inline-block;
  width: 216px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 44px;
  border-radius: 14px;
  z-index: 200;
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  background-color: #ff0000;
  cursor: pointer;
}
/* line 393, ../sass/_index.sass */
.search-show .btn:hover {
  color: #fff;
}

/* line 395, ../sass/_index.sass */
.loading-show {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fd3c57;
  color: #fff;
  border-radius: 10px;
}
/* line 407, ../sass/_index.sass */
.loading-show p {
  text-align: center;
  font-size: 24px;
  line-height: 300px;
}

/* line 411, ../sass/_index.sass */
.list {
  vertical-align: top;
  width: 45%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
  background-image: url("../img/listbg.png");
  background-size: 100% 100%;
}
/* line 423, ../sass/_index.sass */
.list .title {
  background-image: url("../img/listTitleBg.png");
  background-size: 100% 100%;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}
/* line 435, ../sass/_index.sass */
.list .allbox {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  overflow: hidden;
  padding: 15px;
}
/* line 441, ../sass/_index.sass */
.list .allbox .marqueebox {
  top: 0;
  left: 0;
  right: 0;
  bottome: 0;
  text-align: left;
  padding-left: 20px;
  list-style: none;
  font-size: 18px;
  position: absolute;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ff5a5a;
  line-height: 40px;
}
/* line 455, ../sass/_index.sass */
.list .allbox .marqueebox li {
  position: relative;
  clear: both;
}
/* line 458, ../sass/_index.sass */
.list .allbox .marqueebox img {
  float: left;
  margin-right: 10px;
}
/* line 461, ../sass/_index.sass */
.list .allbox .marqueebox:hover {
  animation-play-state: paused;
}
/* line 463, ../sass/_index.sass */
.list .allbox .marqueebox span {
  color: #fff;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 35px;
  text-align: center;
  transform: translateY(-50%);
}

/* line 472, ../sass/_index.sass */
.service {
  background-color: #fff;
  margin: 0 10px;
  height: 600px;
  margin-bottom: 30px;
  border-radius: 0 0 25px 25px;
}
/* line 478, ../sass/_index.sass */
.service .service_info {
  background-image: url("../img/service.png");
  background-size: 100% 100%;
  height: 90%;
  width: 90%;
  margin: auto;
  padding: 10px;
  position: relative;
}
/* line 487, ../sass/_index.sass */
.service .service_info .info {
  width: 50%;
  height: 400px;
  margin-top: 60px;
  position: relative;
}
/* line 493, ../sass/_index.sass */
.service .service_info .info img {
  width: 337px;
  height: 343px;
}
/* line 497, ../sass/_index.sass */
.service .service_info .info p {
  color: #ff0000;
  text-align: center;
  font-size: 24px;
  margin: 20px;
  position: relative;
}
/* line 504, ../sass/_index.sass */
.service .service_info .info p::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 45px;
  background-size: 100% 100%;
}
/* line 512, ../sass/_index.sass */
.service .service_info .info p span {
  margin-left: 10px;
}
/* line 515, ../sass/_index.sass */
.service .service_info .info.info_l {
  float: left;
  margin-left: -20px;
}
/* line 519, ../sass/_index.sass */
.service .service_info .info.info_l p::after {
  background-image: url("../img/QQ.png");
}
/* line 522, ../sass/_index.sass */
.service .service_info .info.info_r {
  float: right;
  margin-right: -20px;
}
/* line 526, ../sass/_index.sass */
.service .service_info .info.info_r p::after {
  background-image: url("../img/wechat.png");
}
/* line 529, ../sass/_index.sass */
.service .service_info .info img {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* line 538, ../sass/_index.sass */
.footer {
  background: #fff;
  height: 160px;
  width: 100%;
}
/* line 542, ../sass/_index.sass */
.footer img {
  width: 100%;
}

/* line 545, ../sass/_index.sass */
.ui-input-text, .ui-input-search {
  background-color: transparent !important;
  border: 0px;
  box-shadow: 0 0 0 transparent;
}

@media screen and (max-width: 600px) {
  /* line 2, ../sass/_mobile.sass */
  .web {
    display: none;
  }

  /* line 4, ../sass/_mobile.sass */
  .mobile {
    display: block;
  }

  /* line 6, ../sass/_mobile.sass */
  .middlebox {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  /* line 10, ../sass/_mobile.sass */
  .header {
    height: 210px;
    position: relative;
    background: url(../img/m-banner.jpg) 50% 0px no-repeat, #fff;
    background-size: 100%;
    margin-top: 50px;
  }
  /* line 16, ../sass/_mobile.sass */
  .header .login {
    display: none;
  }

  /* line 18, ../sass/_mobile.sass */
  .cardbox {
    padding: 20px 5px 30px;
    height: initial;
  }
  /* line 21, ../sass/_mobile.sass */
  .cardbox .card {
    width: 100%;
    background-image: url(../img/cardBg.png);
    height: 430px;
    background-size: 100% 100%;
  }
  /* line 27, ../sass/_mobile.sass */
  .cardbox .card #redux {
    width: 290px;
    height: 240px;
    bottom: 4px;
  }
  /* line 31, ../sass/_mobile.sass */
  .cardbox .card #mask_img_bg {
    width: 280px;
    height: 230px;
    bottom: 8px;
  }
  /* line 36, ../sass/_mobile.sass */
  .cardbox .list {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    height: 400px;
    display: block;
  }
  /* line 43, ../sass/_mobile.sass */
  .cardbox .list .allbox .marqueebox {
    font-size: 13px;
    line-height: 22px;
  }
  /* line 46, ../sass/_mobile.sass */
  .cardbox .list .allbox .marqueebox span {
    width: 20px;
  }
  /* line 48, ../sass/_mobile.sass */
  .cardbox .list .allbox img {
    width: 20px;
    line-height: 30px;
  }
  /* line 51, ../sass/_mobile.sass */
  .cardbox p {
    text-align: center;
  }
  /* line 53, ../sass/_mobile.sass */
  .cardbox p .line2 {
    display: block;
  }

  /* line 55, ../sass/_mobile.sass */
  .service {
    height: 150px;
  }
  /* line 57, ../sass/_mobile.sass */
  .service .service_info {
    background-image: url(../img/m-service.png);
    background-size: 100% 100%;
    height: 90%;
    width: 90%;
    margin: auto;
    padding: 10px;
    position: relative;
  }
  /* line 66, ../sass/_mobile.sass */
  .service .service_info .info {
    height: initial;
    height: 86px;
  }
  /* line 69, ../sass/_mobile.sass */
  .service .service_info .info img {
    display: none;
  }
  /* line 71, ../sass/_mobile.sass */
  .service .service_info .info p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 26px auto;
    position: relative;
  }
  /* line 78, ../sass/_mobile.sass */
  .service .service_info .info p::after {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    background-size: 100% 100%;
  }
  /* line 84, ../sass/_mobile.sass */
  .service .service_info .info.info_l {
    margin-left: -8px;
  }
  /* line 86, ../sass/_mobile.sass */
  .service .service_info .info.info_l p::after {
    background-image: url("../img/m-QQ.png");
  }
  /* line 88, ../sass/_mobile.sass */
  .service .service_info .info.info_r {
    margin-right: -8px;
  }
  /* line 90, ../sass/_mobile.sass */
  .service .service_info .info.info_r p::after {
    background-image: url("../img/m-wechat.png");
  }

  /* line 93, ../sass/_mobile.sass */
  .footer {
    height: 50px;
  }

  /* line 96, ../sass/_mobile.sass */
  .hint-show {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
  }
  /* line 103, ../sass/_mobile.sass */
  .hint-show .btn {
    width: 100px;
    height: 24px;
    bottom: 50px;
    margin-left: -50px;
    font-size: 12px;
    line-height: 24px;
  }
  /* line 110, ../sass/_mobile.sass */
  .hint-show p {
    font-size: 12px;
    letter-spacing: 0px;
  }
  /* line 113, ../sass/_mobile.sass */
  .hint-show .close {
    width: 20px;
    height: 20px;
    top: 44px;
    right: 30px;
    font-size: 20px;
  }

  /* line 121, ../sass/_mobile.sass */
  .login-show {
    width: 300px;
    height: 300px;
  }
  /* line 124, ../sass/_mobile.sass */
  .login-show input {
    bottom: 90px;
    margin: 0 12px;
    width: 274px;
    height: 36px;
    font-size: 18px;
  }
  /* line 130, ../sass/_mobile.sass */
  .login-show .btn {
    width: 216px;
    height: 36px;
    bottom: 28px;
    left: 46px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 36px;
  }

  /* line 139, ../sass/_mobile.sass */
  .loading-show {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #fff;
  }
  /* line 149, ../sass/_mobile.sass */
  .loading-show p {
    text-align: center;
    font-size: 20px;
    line-height: 200px;
  }

  /* line 153, ../sass/_mobile.sass */
  .listBar {
    position: fixed;
    top: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 50px;
    z-index: 99999;
  }
  /* line 162, ../sass/_mobile.sass */
  .listBar li {
    line-height: 50px;
    font-size: 14px;
  }
  /* line 166, ../sass/_mobile.sass */
  .listBar li::after {
    width: 2px;
    height: 20px;
  }

  /* line 170, ../sass/_mobile.sass */
  .reward-show {
    width: 90%;
    padding: 80px 0;
  }
  /* line 173, ../sass/_mobile.sass */
  .reward-show h2 {
    top: 20px;
    font-size: 30px;
  }
  /* line 177, ../sass/_mobile.sass */
  .reward-show .reward img {
    width: 200px;
    height: 100px;
    margin-bottom: 1px;
  }
  /* line 181, ../sass/_mobile.sass */
  .reward-show p {
    font-size: 12px;
  }
  /* line 183, ../sass/_mobile.sass */
  .reward-show .btn {
    width: 130px;
  }
}
@media screen and (max-width: 370px) {
  /* line 190, ../sass/_mobile.sass */
  .service .service_info .info p {
    text-align: right;
  }
}
